*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #081425;
    color: #ffffff;
}
nav{
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 50;
    background-color: rgba(248, 250, 253, 0.11);
}
nav .wrapper{
    position: relative;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
}

  .wrapper .nav-links {
    display: inline-flex;
  }
  .nav-links li {
    list-style: none;
  }
  
  .nav-links li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    padding: 5.5px 13px;
    margin: 0 10px 0 0;
    border-radius: 20px;
    transition: all 0.5s ease;
    font-family: "SamsungOne";
  }
  
  .nav-links li a:hover {
    background: #000;
    color: #fff;
  }
  
ul li a{
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
ul li a:hover{
    color: #ffd200;
}